body {
    background-color: #f5f5f5; /* off-white background */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
nav {
    background-color: #535353; /* black navbar */
    color: #fff; /* white text */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* add a shadow */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
nav h2 {
    display: inline-block;
    margin-right: 20px;
}

a:link, a:active
{
    text-decoration: none;
}
a:visited
{
    text-decoration: none;
    color: white;
}
a:hover
{
    text-decoration: none;
    color: rgb(194, 194, 194);
}
.title
{
    font-weight: bold;
}
.attributes
{
    border: solid;
    height: 600px;
    width: 280px;
    padding-right: 15%;
}
.attributes input
{
    width: 40px;
}
.content {
    margin-top: 80px; /* Adjust this value to leave space for the navbar */
    padding: 20px;
    /*text-align: center;*/
}
.content h5
{
    display: inline-block;
    margin-top: -50px;
    margin-bottom: -50px;
}
.bio input[type = number]
{
    width: 40px;
}
.skillsattributes
{
    display: flex;
}
.skills
{
    border: solid;
    height: 600px;
    display: grid;
    row-gap: 0px;
    width: 280px;
    column-gap: 10px;
}
.skills label
{
    grid-column: 1;
}

.skills input[type=checkbox]
{
    grid-column: 2;
}
.skills input[type=number]
{
    grid-column: 3;
    width: 40px;
}

.extrainfo textarea
{
    resize: none;
}