body {
    background-color: #f5f5f5; 
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #535353; 
    color: #fff; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

nav h2 {
    display: inline-block;
    margin-right: 20px;
}

a:link, a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: rgb(194, 194, 194);
}

.title {
    font-weight: bold;
}

.content {
    margin-top: 80px; 
    padding: 20px;
}

.content h5 {
    display: inline-block;
    margin-top: -50px;
    margin-bottom: -50px;
}

.skillsattributes {
    display: flex; 
    gap: 20px; 
    justify-content: flex-start; 
    align-items: flex-start; 
}

.attributes, 
.skills {
    flex: 1; 
    max-width: 300px; 
    border: 1px solid #ccc; 
    padding: 10px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    border-radius: 5px; 
}

.attributes {
    display: grid; 
    grid-template-columns: 1fr auto; 
    row-gap: 5px; 
}

.attributes label {
    padding-right: 140px;
    grid-column: 1;
}

.attributes input {
    grid-column: 2;
    width: 40px;
    height: 20px;
}

.skills {
    display: grid; 
    grid-template-columns: 1fr auto auto; 
    row-gap: 5px; 
    column-gap: 10px; 
}

.skills label {
    padding-right: -80px;
    grid-column: 1;
}

.skills input[type=checkbox] {
    grid-column: 2;
}

.skills input[type=number] {
    grid-column: 3;
    width: 40px;
}

.extrainfo textarea {
    resize: none;
    width: 100%; 
}

.bio input[type=number] {
    width: 40px;
}

@media (max-width: 768px) {
    .skillsattributes {
        flex-direction: column; 
        align-items: center; 
    }

    .attributes, .skills {
        max-width: 90%; 
    }
}
